.cell {
  border-width: 1px;
  border-style: outset;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  position:absolute;
}

.block {
  position:absolute;
}

.animated {
  transition: left 0.2s, top 0.5s;
  transition-timing-function: ease;
}
