.game {
  position: absolute;
  top: 0px;
  display: flex;
}

.area {
  width: 250px;
  height: 500px;
  border: 1px solid black;
}

.score {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.score .block {
  position:relative;
}

.cell {
  background-color: #bbb;
}

.square.cell {
  background-color: #f11;
}

.line.cell {
  background-color: #1f1;
}

.ell.cell {
  background-color: #11f;
}

.rell.cell {
  background-color: #1ff;
}

.ress.cell {
  background-color: #f1f;
}

.ess.cell {
  background-color: #ff1;
}

.tee.cell {
  background-color: #cc1;
}
